.contactBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contactItem {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.educationTop .contactItem, .portfolioTop .contactItem, .workTop .contactItem {
    color: black;
    text-shadow: 3px 3px 6px rgb(255, 255, 255);
    font-weight: bold;
}

.contactItem img {
    height: 40px;
    width: auto;
    cursor: pointer;
}