.carousel {
  position: relative;   /* for arrows positioning */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 5;
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
}

.carousel .slick-list {
  height: 100%;         /* fill container height */
  overflow: hidden;     /* clip overflowing slides/arrows */
}

.slick-initialized {
    height: 100%;
}

.slick-track {
    width: 100%;
    height: 100%;
}

.carousel .slick-slide {
  height: 100% !important;  /* ensure slides fill height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.carouselImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.carousel .slick-prev {
  left: 10px;
}

.carousel .slick-next {
  right: 10px;
}

.carousel .slick-prev,
.carousel .slick-next {
  z-index: 9999 !important;
  pointer-events: auto !important; /* ensure they can receive clicks */
}

.carousel .slick-dots {
  bottom: 10px; /* moves dots up inside the container */
}

.screenCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.imageContainer {
    position: relative;
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid black 2px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.expandedImageClose {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 25px;
    height: 25px;
    z-index: 1002;
}

.closeIcon {
    width: 20px;
    height: 20px;
    color: white;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imageDesc {
  position: absolute;
  width: 100%;
  height: 5% !important;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.carousel .slick-slide {
  height: 100% !important;
  display: flex;
}

.carousel .slick-slide div {
  width: 100%;
  height: 100%;
}

.slick-arrow {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;;
}
