#intro {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.headerBar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden; /* ensures SVG doesn’t overflow */
}

.headerPhoto {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    object-fit: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerPhoto img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid white;
}

.headerTextPortion {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerName {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    color: white;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}

.linkItem {
    height: 100%;
    width: 33%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.headerItemClickable:hover {
    text-decoration: underline;
}

.introContent {
    position: relative;
    height: 45%;
    padding: 2.5% 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
    background-color: #f7f7f7;
}

.introCarousel {
    z-index: 2;
    width: 32%;
    height: 80%;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    margin-right: 20px;
}

.skillsArea {
    z-index: 2;
    height: 80%;
    width: 50%;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    margin-left: 20px;
    position: relative;
}

.contactMe {
    width: 100%;
    height: 25%;
}
