#intro {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.headerBar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden; /* ensures SVG doesn’t overflow */
    border-bottom: 5px solid black;
}

.headerBGTransition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
        rgba(24, 15, 42, 0),  /* transparent at top */
        #3E2361 40%            /* solid by the middle */
    );
}

.headerPhoto {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    object-fit: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerPhoto img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid white;
}

.headerTextPortion {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerName {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    color: white;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.linkItem {
    height: 100%;
    width: 33%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerItemClickable:hover {
    text-decoration: underline;
}

.introContent {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
}

.introText {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introCarousel {
    width: 50%;
}

.skillsArea {
    height: 80%;
    width: 50%;
}

.skillsTitle {
    height: calc(15% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    font-size: 30px;
    border-radius: 25px;
    background-color: purple;
    color: white;
}

.skillsList {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 0px;
    gap: 10px;
}

.skillsList::-webkit-scrollbar {
    display: none; 
}

.skillListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* aligns icon and text vertically */
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 12px; /* some breathing room */
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.25), /* outer shadow */
        inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

.skillListItemTab {
    flex-shrink: 0;
    font-size: 3em; /* relative to parent height */
    height: 100%;
    display: flex;
    align-items: center;
    color: #504361;
    margin-right: 8px;
    margin-left: -25px;
}

.skillListItemText {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

