#workSection {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.workTop {
    width: 100%;
    height: calc(15% - 30px);
    background-color: #f7f7f7;
    position: relative;
    padding-bottom: 30px;
}

.workContactBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workContent {
    height: calc(85% - 30px);
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.DASection {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DALeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.DALogo {
    width: 90%;
    height: 30%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DALogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.DAExampleTasks, .DAAchievements {
    width: calc(90% - 40px);
    height: 50%;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    position: relative;
}

.DARight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.DADescription {
    width: calc(90% - 40px);
    height: 30%;
    padding: 20px;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.DADescTitle {
    height: 30px;
    background-color: #00B39E;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.MonroeSection {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MonroeSectionTop {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MonroeDescription {
    width: calc(55% - 40px);
    height: calc(90% - 40px);
    padding: 20px;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MonroeDescTitle {
    height: 30px;
    background-color: #00B39E;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.MonroeTitle { 
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.MonroeLogo {
    width: calc(40% - 40px);
    height: calc(90% - 40px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.MonroeLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.MonroeSectionBottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MonroeAchievements {
    width: calc(90% - 40px);
    height: calc(90% - 40px);
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    position: relative;
}

.MonroeDescription, .DADescription {
    overflow-y: scroll;
}

.MonroeDescription::-webkit-scrollbar, .DADescription::-webkit-scrollbar {
    overflow-y: scroll;
}
