#workSection {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.workTop {
    width: 100%;
    height: 10%;
    background-color: #f7f7f7;
}

.workContactBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workMiddle {
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    transition: background-image 0.5s ease-in-out;
}

.workMiddle.dataAnnotation {
    background-image: url('/assets/backgrounds/DA.jpg');
}

.workMiddle.monroeEnergy {
    background-image: url('/assets/backgrounds/monroe.jpg');
}

.workExperienceSelector {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
}

.workExperience {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.workExperienceSelectorBar {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 50%;
    background-color: white;
    transition: left 0.5s ease, right 0.5s ease;
}

.workExperienceSelectorBar.left {
    left: 0;
    right: auto;
}

.workExperienceSelectorBar.right {
    left: 50%;
    right: auto;
}

.workExperience.selected {
    text-decoration: underline;
}

.workBottom {
    width: 100%;
    height: 50%;
    background-color: #00796B;
    position: relative;
}

.workContent {
    height: 80%; /* 10% for top and extra for the work selector bar */
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.workContentDisplay {
    height: 60%;
    width: 35%;
    position: relative;
}

#workImageCarousel {
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
}

#workList {
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
}
