#workSection {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.workTop {
    width: 100%;
    height: calc(15% - 30px);
    background-color: #f7f7f7;
    position: relative;
    padding-bottom: 30px;
}

.workContactBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workContent {
    height: calc(85% - 30px);
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.DASection {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.DATop {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DALogo {
    width: 40%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DALogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.DADescription {
    width: 50%;
    height: calc(100% - 40px);
    padding: 20px;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.DADescTitle {
    height: 30px;
    background-color: #00B39E;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.DADescTopics {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myRole, .myLearning {
    height: calc(100% - 10px);
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.DABottom {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.DAExampleTasks {
    width: 100%;
    height: calc(100% - 40px);
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    position: relative;
}

.MonroeSection {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.MonroeSectionTop {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MonroeDescription {
    width: 50%;
    height: calc(100% - 40px);
    padding: 20px;
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MonroeDescTitle {
    height: 30px;
    background-color: #00B39E;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.MonroeDescTopics {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myRole, .myLearning, .myEffect, .myTasks {
    height: calc(100% - 10px);
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    text-align: center;
}

.MonroeTitle { 
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.MonroeLogo {
    width: calc(40% - 40px);
    height: calc(100% - 40px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.MonroeLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.MonroeSectionBottom {
    width: 90%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MonroeAchievements {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    position: relative;
}
