import 

html, body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; 
}

#backgroundImageDisplay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    z-index: -1;
}

#backgroundImageDisplay.inbetweenBlack {
    background-image: url('/public/assets/backgrounds/black.jpg');
}

#backgroundImageDisplay.educationSection {
    background-image: url('/public/assets/backgrounds/Lehigh.jpg');
}

#backgroundImageDisplay.codingSection {
    background-image: url('/public/assets/backgrounds/coding_temp.jpg');
}

#mainContainer {
    height: auto;
}

.section {
    height: calc(100vh + var(--blackIntermediateLength));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.textSection {
    background-color: rgba(75, 75, 75, 0.8);
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    min-height: 200px;
    min-width: 150px;
    font-size: 1.25rem;
}

.imageDisplay {
    background-color: rgba(75, 75, 75, 0.8);
    border-radius: 10px;
    padding: 20px;
    min-height: 200px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDisplay img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#education {

}

#educationInformation {
    max-height: 400px;
    max-width: 300px;
    transform: rotate(-10deg) scale(var(--scale, 1));
}

#professionalImage {
    max-height: 400px;
    max-width: 300px;
    transform: rotate(10deg) scale(var(--scale, 1));
}

.scale-on-scroll {
  transform: scale(var(--scale, 1));
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
