#portfolioSection {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.portfolioTop {
    width: 100%;
    height: 10%;
    background-color: #f7f7f7;
    border-bottom: 5px solid black;
}

.portfolioContactBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioContent {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00796B;
}

.portfolioContentLeft {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnedFromProject, .technologiesInProject {
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    background: white; /* Or a subtle tinted background */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* soft shadow */
    border-radius: 8px; /* rounded corners help */
    padding: 20px;
    position: relative;
}

.portfolioContentCenter {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolioContentDescription {
    max-height: 40%;
    width: calc(100% - 40px);
    font-size: 16px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

.portfolioContentDescription::-webkit-scrollbar {
    display: none;
}

.descriptionTitle {
    width: 80%;
    height: 30px;
    background-color: #00796B;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.liveLink {
    height: 5%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.portfolioProjectVideoAndSelector {
    height: 65%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    border-radius: 5px;
    transition: background-image 0.5s ease-in-out;
    position: relative;
}

.portfolioProjectVideoAndSelector.unite-pro {
    background-image: url('/assets/backgrounds/unite-pro.png');
}

.portfolioProjectVideoAndSelector.enrolld {
    background-image: url('/assets/backgrounds/enrolld.png');
}

.portfolioProjectSelector {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.portfolioProject {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.portfolioProjectSelectorBar {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 50%;
    background-color: white;
    transition: left 0.5s ease, right 0.5s ease;
}

.portfolioProjectSelectorBar.left {
    left: 0;
    right: auto;
}

.portfolioProjectSelectorBar.right {
    left: 50%;
    right: auto;
}

.portfolioProject.selected {
    text-decoration: underline;
}

.projectVideo {
    width: 100%;
    height: 90%;
    object-fit: fill;
    z-index: 2;
}

.portfolioContentRight {
    height: 100%;
    width: 20%;
    background-color: #00796B;
    display: flex;
    justify-content: center;
    align-items: center;
}